In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install ktrain

Collecting ktrain
  Downloading https://files.pythonhosted.org/packages/41/23/6f5addc2ade7c6240e2c9169bd7a9506cea17b35c9f322104a60dd4ba7fd/ktrain-0.25.2.tar.gz (25.3MB)
     |████████████████████████████████| 25.3MB 134kB/s
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.22.2.post1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from ktrain) (3.2.2)
Requirement already satisfied: pandas>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from ktrain) (1.1.4)
Requirement already satisfied: fastprogress>=0.1.21 in /usr/local/lib/python3.6/dist-packages (from ktrain) (1.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from ktrain) (2.23.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.17.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from ktrain) (20.4)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from ktrain) (5.5.0)
Collecting langdetect
  Downloading https://files.pythonhosted.org/packages/56/a3/8407c1e62d5980188b4acc45ef3d94b933d14a2ebc9ef3505f22cf772570/langdetect-1.0.8.tar.gz (981kB)
     |████████████████████████████████| 983kB 55.4MB/s
Requirement already satisfied: jieba in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.42.1)
Collecting cchardet
  Downloading https://files.pythonhosted.org/packages/a0/e5/a0b9edd8664ea3b0d3270c451ebbf86655ed9fc4c3e4c45b9afae9c2e382/cchardet-2.1.7-cp36-cp36m-manylinux2010_x86_64.whl (263kB)
     |████████████████████████████████| 266kB 54.0MB/s
Collecting syntok
  Downloading https://files.pythonhosted.org/packages/8c/76/a49e73a04b3e3a14ce232e8e28a1587f8108baa665644fe8c40e307e792e/syntok-1.3.1.tar.gz
Collecting seqeval==0.0.19
  Downloading https://files.pythonhosted.org/packages/93/e5/b7705156a77f742cfe4fc6f22d0c71591edb2d243328dff2f8fc0f933ab6/seqeval-0.0.19.tar.gz
Collecting transformers<4.0,>=3.1.0
  Downloading https://files.pythonhosted.org/packages/3a/83/e74092e7f24a08d751aa59b37a9fc572b2e4af3918cb66f7766c3affb1b4/transformers-3.5.1-py3-none-any.whl (1.3MB)
     |████████████████████████████████| 1.3MB 53.1MB/s
Collecting sentencepiece
  Downloading https://files.pythonhosted.org/packages/e5/2d/6d4ca4bef9a67070fa1cac508606328329152b1df10bdf31fb6e4e727894/sentencepiece-0.1.94-cp36-cp36m-manylinux2014_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 55.5MB/s
Collecting keras_bert>=0.86.0
  Downloading https://files.pythonhosted.org/packages/e2/7f/95fabd29f4502924fa3f09ff6538c5a7d290dfef2c2fe076d3d1a16e08f0/keras-bert-0.86.0.tar.gz
Requirement already satisfied: networkx>=2.3 in /usr/local/lib/python3.6/dist-packages (from ktrain) (2.5)
Collecting whoosh
  Downloading https://files.pythonhosted.org/packages/ba/19/24d0f1f454a2c1eb689ca28d2f178db81e5024f42d82729a4ff6771155cf/Whoosh-2.7.4-py2.py3-none-any.whl (468kB)
     |████████████████████████████████| 471kB 51.0MB/s
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.21.3->ktrain) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.21.3->ktrain) (1.18.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->ktrain) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->ktrain) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->ktrain) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->ktrain) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.1->ktrain) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->ktrain) (2020.11.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->ktrain) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->ktrain) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->ktrain) (3.0.4)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from packaging->ktrain) (1.15.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (1.0.18)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (4.4.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (50.3.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (4.3.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (2.6.1)
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from syntok->ktrain) (2019.12.20)
Requirement already satisfied: Keras>=2.2.4 in /usr/local/lib/python3.6/dist-packages (from seqeval==0.0.19->ktrain) (2.4.3)
Requirement already satisfied: protobuf in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (3.12.4)
Requirement already satisfied: dataclasses; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (0.8)
Collecting tokenizers==0.9.3
  Downloading https://files.pythonhosted.org/packages/4c/34/b39eb9994bc3c999270b69c9eea40ecc6f0e97991dba28282b9fd32d44ee/tokenizers-0.9.3-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 51.6MB/s
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (4.41.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (3.0.12)
Collecting sacremoses
  Downloading https://files.pythonhosted.org/packages/7d/34/09d19aff26edcc8eb2a01bed8e98f13a1537005d31e95233fd48216eed10/sacremoses-0.0.43.tar.gz (883kB)
     |████████████████████████████████| 890kB 55.7MB/s
Collecting keras-transformer>=0.38.0
  Downloading https://files.pythonhosted.org/packages/89/6c/d6f0c164f4cc16fbc0d0fea85f5526e87a7d2df7b077809e422a7e626150/keras-transformer-0.38.0.tar.gz
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ktrain) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->ktrain) (0.6.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->ktrain) (0.2.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from Keras>=2.2.4->seqeval==0.0.19->ktrain) (2.10.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from Keras>=2.2.4->seqeval==0.0.19->ktrain) (3.13)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers<4.0,>=3.1.0->ktrain) (7.1.2)
Collecting keras-pos-embd>=0.11.0
  Downloading https://files.pythonhosted.org/packages/09/70/b63ed8fc660da2bb6ae29b9895401c628da5740c048c190b5d7107cadd02/keras-pos-embd-0.11.0.tar.gz
Collecting keras-multi-head>=0.27.0
  Downloading https://files.pythonhosted.org/packages/e6/32/45adf2549450aca7867deccfa04af80a0ab1ca139af44b16bc669e0e09cd/keras-multi-head-0.27.0.tar.gz
Collecting keras-layer-normalization>=0.14.0
  Downloading https://files.pythonhosted.org/packages/a4/0e/d1078df0494bac9ce1a67954e5380b6e7569668f0f3b50a9531c62c1fc4a/keras-layer-normalization-0.14.0.tar.gz
Collecting keras-position-wise-feed-forward>=0.6.0
  Downloading https://files.pythonhosted.org/packages/e3/59/f0faa1037c033059e7e9e7758e6c23b4d1c0772cd48de14c4b6fd4033ad5/keras-position-wise-feed-forward-0.6.0.tar.gz
Collecting keras-embed-sim>=0.8.0
  Downloading https://files.pythonhosted.org/packages/57/ef/61a1e39082c9e1834a2d09261d4a0b69f7c818b359216d4e1912b20b1c86/keras-embed-sim-0.8.0.tar.gz
Collecting keras-self-attention==0.46.0
  Downloading https://files.pythonhosted.org/packages/15/6b/c804924a056955fa1f3ff767945187103cfc851ba9bd0fc5a6c6bc18e2eb/keras-self-attention-0.46.0.tar.gz
Building wheels for collected packages: ktrain, langdetect, syntok, seqeval, keras-bert, sacremoses, keras-transformer, keras-pos-embd, keras-multi-head, keras-layer-normalization, keras-position-wise-feed-forward, keras-embed-sim, keras-self-attention
  Building wheel for ktrain (setup.py) ... done
  Created wheel for ktrain: filename=ktrain-0.25.2-cp36-none-any.whl size=25276306 sha256=d88ecb60f55c2c80a4739d78894dcc535ff47c374112b50fe030766c3450a4eb
  Stored in directory: /root/.cache/pip/wheels/fe/56/00/25444c352cc843e5c5daea0e9517a192878ae22c2c6b5f4573
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.8-cp36-none-any.whl size=993195 sha256=f33883d6f7a89b1a8296d0dce8544c123b8f231933d94a4dc1d7ea15c71c1648
  Stored in directory: /root/.cache/pip/wheels/8d/b3/aa/6d99de9f3841d7d3d40a60ea06e6d669e8e5012e6c8b947a57
  Building wheel for syntok (setup.py) ... done
  Created wheel for syntok: filename=syntok-1.3.1-cp36-none-any.whl size=20919 sha256=73da8813c3de0d0cbb05ece36ddb638cd1394a6918d08295c79b61485eb9c0f9
  Stored in directory: /root/.cache/pip/wheels/51/c6/a4/be1920586c49469846bcd2888200bdecfe109ec421dab9be2d
  Building wheel for seqeval (setup.py) ... done
  Created wheel for seqeval: filename=seqeval-0.0.19-cp36-none-any.whl size=9919 sha256=b1f661a58af0682620a7632e87bb637149838a7cdead04e8ad0da96c59cfb20d
  Stored in directory: /root/.cache/pip/wheels/8d/1f/bf/1198beceed805a2099060975f6281d1b01046dd279e19c97be
  Building wheel for keras-bert (setup.py) ... done
  Created wheel for keras-bert: filename=keras_bert-0.86.0-cp36-none-any.whl size=34145 sha256=2555e060337b6c0a7d422caf549c0343fd8c1087801cdb527f5389aaf930f7f7
  Stored in directory: /root/.cache/pip/wheels/66/f0/b1/748128b58562fc9e31b907bb5e2ab6a35eb37695e83911236b
  Building wheel for sacremoses (setup.py) ... done
  Created wheel for sacremoses: filename=sacremoses-0.0.43-cp36-none-any.whl size=893257 sha256=0f4d06d0880d53b88b4036c62b118888e6f08aa0f8ff733029150fa8fe519f19
  Stored in directory: /root/.cache/pip/wheels/29/3c/fd/7ce5c3f0666dab31a50123635e6fb5e19ceb42ce38d4e58f45
  Building wheel for keras-transformer (setup.py) ... done
  Created wheel for keras-transformer: filename=keras_transformer-0.38.0-cp36-none-any.whl size=12942 sha256=e407849ad675b126be50a5f369e302980d51dbf86a6e033a9a7fb8e36c008d92
  Stored in directory: /root/.cache/pip/wheels/e5/fb/3a/37b2b9326c799aa010ae46a04ddb04f320d8c77c0b7e837f4e
  Building wheel for keras-pos-embd (setup.py) ... done
  Created wheel for keras-pos-embd: filename=keras_pos_embd-0.11.0-cp36-none-any.whl size=7554 sha256=9631f9389a86de25f162014d0d700ed22cd7608002873d8b9cbd93b65e135330
  Stored in directory: /root/.cache/pip/wheels/5b/a1/a0/ce6b1d49ba1a9a76f592e70cf297b05c96bc9f418146761032
  Building wheel for keras-multi-head (setup.py) ... done
  Created wheel for keras-multi-head: filename=keras_multi_head-0.27.0-cp36-none-any.whl size=15612 sha256=4b70ea482d01a9fc5373c627438bc650c65da9460ed59d3cf23dd1b44a611fd1
  Stored in directory: /root/.cache/pip/wheels/b5/b4/49/0a0c27dcb93c13af02fea254ff51d1a43a924dd4e5b7a7164d
  Building wheel for keras-layer-normalization (setup.py) ... done
  Created wheel for keras-layer-normalization: filename=keras_layer_normalization-0.14.0-cp36-none-any.whl size=5268 sha256=7910f8d3ba7443f272b8d98e55169d173cc50bcfbe8afeddde0e2a8a6f304bb0
  Stored in directory: /root/.cache/pip/wheels/54/80/22/a638a7d406fd155e507aa33d703e3fa2612b9eb7bb4f4fe667
  Building wheel for keras-position-wise-feed-forward (setup.py) ... done
  Created wheel for keras-position-wise-feed-forward: filename=keras_position_wise_feed_forward-0.6.0-cp36-none-any.whl size=5626 sha256=17fbc73e8c4e4b1a84b55dc643fa5a97f5e59eb22bed6a82a6ff3b4e3e41a30f
  Stored in directory: /root/.cache/pip/wheels/39/e2/e2/3514fef126a00574b13bc0b9e23891800158df3a3c19c96e3b
  Building wheel for keras-embed-sim (setup.py) ... done
  Created wheel for keras-embed-sim: filename=keras_embed_sim-0.8.0-cp36-none-any.whl size=4559 sha256=2a6fc62c64dd027dc957e24ad2ca41dc1c63e3fc90242bd746a61f619a8798d3
  Stored in directory: /root/.cache/pip/wheels/49/45/8b/c111f6cc8bec253e984677de73a6f4f5d2f1649f42aac191c8
  Building wheel for keras-self-attention (setup.py) ... done
  Created wheel for keras-self-attention: filename=keras_self_attention-0.46.0-cp36-none-any.whl size=17278 sha256=c9326e8141955ebb922ba708384b21ead4b081d2db3889ac74f0211a4b301d5f
  Stored in directory: /root/.cache/pip/wheels/d2/2e/80/fec4c05eb23c8e13b790e26d207d6e0ffe8013fad8c6bdd4d2
Successfully built ktrain langdetect syntok seqeval keras-bert sacremoses keras-transformer keras-pos-embd keras-multi-head keras-layer-normalization keras-position-wise-feed-forward keras-embed-sim keras-self-attention
ERROR: transformers 3.5.1 has requirement sentencepiece==0.1.91, but you'll have sentencepiece 0.1.94 which is incompatible.
Installing collected packages: langdetect, cchardet, syntok, seqeval, tokenizers, sentencepiece, sacremoses, transformers, keras-pos-embd, keras-self-attention, keras-multi-head, keras-layer-normalization, keras-position-wise-feed-forward, keras-embed-sim, keras-transformer, keras-bert, whoosh, ktrain
Successfully installed cchardet-2.1.7 keras-bert-0.86.0 keras-embed-sim-0.8.0 keras-layer-normalization-0.14.0 keras-multi-head-0.27.0 keras-pos-embd-0.11.0 keras-position-wise-feed-forward-0.6.0 keras-self-attention-0.46.0 keras-transformer-0.38.0 ktrain-0.25.2 langdetect-1.0.8 sacremoses-0.0.43 sentencepiece-0.1.94 seqeval-0.0.19 syntok-1.3.1 tokenizers-0.9.3 transformers-3.5.1 whoosh-2.7.4

In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
import ktrain
from ktrain import text
import tensorflow as tf

In [ ]:
tf.__version__

'2.3.0'

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/AI Project/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/train.csv")

df.drop(["Right Reason1","Confusing Reason1", "Confusing Reason2", "Right Reason2", "Right Reason3"], axis = 1, inplace= True)
df

                                      Correct Statement                                Incorrect Statement
0                         He poured milk on his cereal.              He poured orange juice on his cereal.
1                                       He drinks milk.                                   He drinks apple.
2                                 Jeff ran a mile today                       Jeff ran 100,000 miles today
3                                  A mosquito stings me                                 I sting a mosquito
4                                  A niece is a person.                             A giraffe is a person.
...                                                 ...                                                ...
9995                    Mark ate a big sweet cherry pie                   Mark ate a big bitter cherry pie
9996                     Gloria wears a hat on her head                     Gloria wears a cat on her head
9997  Harry went to the barbershop to have his hair cut  Harry went to the barbershop to have his glass...
9998                    Reilly is sleeping on the couch                   Reilly is sleeping on the window
9999                           I have a lamp on my desk                           I have a desk on my lamp

[10000 rows x 2 columns]

In [ ]:
test = pd.read_csv("/content/drive/MyDrive/AI Project/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/train.csv")
test.drop(["Right Reason1","Confusing Reason1", "Confusing Reason2", "Right Reason2", "Right Reason3"], axis = 1, inplace= True)
test.head()

               Correct Statement                    Incorrect Statement
0  He poured milk on his cereal.  He poured orange juice on his cereal.
1                He drinks milk.                       He drinks apple.
2          Jeff ran a mile today           Jeff ran 100,000 miles today
3           A mosquito stings me                     I sting a mosquito
4           A niece is a person.                 A giraffe is a person.

In [ ]:
val = pd.read_csv("/content/drive/MyDrive/AI Project/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/SemEval2020-Task4-Commonsense-Validation-and-Explanation-master/ALL data/dev.csv")
val.drop(["Right Reason1","Confusing Reason1", "Confusing Reason2", "Right Reason2", "Right Reason3"], axis = 1, inplace= True)
val.head()

                                   Correct Statement                                Incorrect Statement
0                    A chainsaw is used to cut trees                 A chainsaw is used to cut diamonds
1                             The closet got hangers                      The hangers bought the closet
2                                  A pillow is soft.                     Feathers in a pillow are hard.
3      Straight razors are great for trimming beards  Straight razors are great for cutting sheet metal
4  You are likely to find an orange tree in Florida.  You are likely to find an orange tree in Antar...

In [ ]:
df.shape

(10000, 2)

In [ ]:
test.shape

(10000, 2)

In [ ]:
val.shape

(1000, 2)

In [ ]:
sent0 =df['Correct Statement']
sent1 =  df['Incorrect Statement']
sent0,sent1 = list(sent0),list(sent1)
for i in range(len(sent0)):
  sent0[i] = [sent0[i] , "1"]
  sent1[i] = [sent1[i] , "0"]

sent0 += sent1
print(len(sent1))
print(len(sent0))

10000
20000

In [ ]:
train_data_df = pd.DataFrame(sent0, columns = ['sentence', 'correctness'])
train_data_df

                                                sentence correctness
0                          He poured milk on his cereal.           1
1                                        He drinks milk.           1
2                                  Jeff ran a mile today           1
3                                   A mosquito stings me           1
4                                   A niece is a person.           1
...                                                  ...         ...
19995                   Mark ate a big bitter cherry pie           0
19996                     Gloria wears a cat on her head           0
19997  Harry went to the barbershop to have his glass...           0
19998                   Reilly is sleeping on the window           0
19999                           I have a desk on my lamp           0

[20000 rows x 2 columns]

In [ ]:
test_sent0 =test['Correct Statement']
test_sent1 =  test['Incorrect Statement']
test_sent0,test_sent1 = list(test_sent0),list(test_sent1)
for i in range(len(test_sent0)):
  test_sent0[i] = [test_sent0[i] , "1"]
  test_sent1[i] = [test_sent1[i] , "0"]

test_sent0 += test_sent1
print(len(test_sent1))
print(len(test_sent0))

10000
20000

In [ ]:
val_sent0 =val['Correct Statement']
val_sent1 =  val['Incorrect Statement']
val_sent0,val_sent1 = list(val_sent0),list(val_sent1)
for i in range(len(val_sent0)):
  val_sent0[i] = [val_sent0[i] , "1"]
  val_sent1[i] = [val_sent1[i] , "0"]

val_sent0 += val_sent1
print(len(val_sent1))
print(len(val_sent0))

1000
2000

In [ ]:
test_df = pd.DataFrame(test_sent0, columns = ['sentence', 'correctness'])
test_df

                                                sentence correctness
0                          He poured milk on his cereal.           1
1                                        He drinks milk.           1
2                                  Jeff ran a mile today           1
3                                   A mosquito stings me           1
4                                   A niece is a person.           1
...                                                  ...         ...
19995                   Mark ate a big bitter cherry pie           0
19996                     Gloria wears a cat on her head           0
19997  Harry went to the barbershop to have his glass...           0
19998                   Reilly is sleeping on the window           0
19999                           I have a desk on my lamp           0

[20000 rows x 2 columns]

In [ ]:
val_data_df = pd.DataFrame(val_sent0, columns = ['sentence', 'correctness'])
val_data_df

                                               sentence correctness
0                       A chainsaw is used to cut trees           1
1                                The closet got hangers           1
2                                     A pillow is soft.           1
3         Straight razors are great for trimming beards           1
4     You are likely to find an orange tree in Florida.           1
...                                                 ...         ...
1995        Lamps can convert peanut butter for energy.           0
1996                         He ride a bicycle on water           0
1997           The boy wore uniform to go to restaurant           0
1998                        my giraffe is driving a car           0
1999                         he used water to cook food           0

[2000 rows x 2 columns]

In [ ]:
(X_train, y_train), (X_test, y_test), preproc = text.texts_from_df(train_df= train_data_df,
                                                                   text_column = 'sentence',
                                                                   label_columns = 'correctness',
                                                                   val_df = val_data_df,
                                                                   maxlen = 500,
                                                                   preprocess_mode = 'bert')

preprocessing train...
language: en

Is Multi-Label? False
preprocessing test...
language: en

In [ ]:
model = text.text_classifier(name = 'bert',
                             train_data = (X_train, y_train),
                             preproc = preproc)

Is Multi-Label? False
maxlen is 500
done.

In [ ]:
learner = ktrain.get_learner(model=model, train_data=(X_train, y_train),
                   val_data = (X_test, y_test),
                   batch_size = 6)

In [ ]:
learner.fit_onecycle(lr = 2e-5, epochs = 1)

predictor = ktrain.get_predictor(learner.model, preproc)
predictor.save('/content/drive/My Drive/bert')

begin training using onecycle policy with max lr of 2e-05...
3334/3334 [==============================] - 3416s 1s/step - loss: 0.5930 - accuracy: 0.6631 - val_loss: 0.4613 - val_accuracy: 0.7655

In [ ]:
predictor_load= ktrain.load_predictor('/content/drive/MyDrive/bert')

In [ ]:
predictor = ktrain.get_predictor(learner.model, preprocess)

In [ ]:
outputs = predictor.predict(list(test_data_df['Sentence']))

In [ ]:
outputs

In [ ]:
for i in range(len(outputs)):
  if outputs[i] == 'Labels':
    outputs[i] = 1
  else:
    outputs[i] = 0
outputs

In [ ]:
test_data_df

In [ ]:
hits = 0
for i in range(len(outputs)):
  if outputs[i] == test_data_df.iloc[i,1]:
    hits += 1

accuracy = (hits/len(outputs)) * 100
print("Accuracy = ", accuracy)

In [ ]:
test_file = '/content/drive/MyDrive/ALL data/Test Data/subtaskA_test_data.csv'
test_dataFrame = pd.read_csv(test_file)

In [ ]:
outputs = predictor.predict(list(test_dataFrame['sent1']))
for i in range(len(outputs)):
  if outputs[i] == 'Labels':
    outputs[i] = 1
  else:
    outputs[i] = 0
outputs

In [ ]:
len(outputs)

In [ ]:
test_ids = list(test_dataFrame['id'])
len(test_ids)

In [ ]:
test_List = []
for i in range(len(outputs)):
  test_List.append([test_ids[i],outputs[i]])
test_List

In [ ]:
test_dataFrame = pd.DataFrame(test_List)

In [ ]:
gfg_csv_data = test_dataFrame.to_csv('sample_submission_subtaskA.csv', index = True)